.contenedor-principal-detalle{
    background-color: #fff;
    text-align: center;
    height:100vh;
}

.titulo-app{
    background-color: #fff;
    margin: 1em 0em;
    padding: 1.3em 0em;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid black;

}

.titulo-app span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.titulo-app span i {
    float: right;
    font-size: 1.5em;
    opacity:.9
}

.presupuesto{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 3.5em;
    opacity: .65;
    color:green;
}

.cont-presupuesto{
    margin: .5em;
    text-align: left;
}

.cont-dinero-entrante{
    background-color: white;
    border:1px solid rgba(117, 255, 45, 0.5);
    border-radius: 5%;
    margin-top: 1em;
}

.cont-dinero-entrante h6{
    padding:10px 10px 0px 10px;
    text-align: left;
}

.cont-dinero-entrante h5{
    text-align: left;
    margin-top: -10px;
    padding:0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.cont-dinero-entrante h5 span i,
.cont-dinero-gastado h5 span i{
    float: right;
    color:#ccc;
    font-size: 1.8em;
    padding:10px;
    
}

.cont-dinero-gastado{
    background-color: white;
    border:1px solid rgba(255, 5, 0, 0.4);
    border-radius: 5%;
    margin-top: 1em;
}

.cont-dinero-gastado h6{
    padding:10px 10px 0px 10px;
    text-align: left;   
}

.cont-dinero-gastado h5{
    text-align: left;
    margin-top: -10px;
    padding:0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;   
}

.cont-historial{
    margin:50px 0px 0px 0px;
    text-align: left;
    border-bottom: 1px solid black;
}

.cont-historial ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.cont-historial ul li span{
    float:right;
}

.cont-historial ul li .correcto{
    padding:0px 10px;
    border-right: 3px solid green;
    color:black;
}

.cont-historial ul li .error{
    padding:0px 10px;
    border-right: 3px solid red;
    color:black;
}


.valor-abono{
    margin-top: 1.9em;
}

.valor-descuento{
    margin-top: 1.9em;
}

.contenedor-abono, .contenedor-descuento{
    margin:25px 0px;
}

.descontar :hover {
    background-color: red;
}

#abonar{
    transition: 1s ease-in-out;
}

#abonar :hover{
    background-color: green;
    transition:0.5s ease-in-out;
    opacity: .9;
    color:white;
}

.descontar :hover{
    background-color: red;
    transition:0.5s ease-in-out;
    opacity: .9;
    color:white;
}


.error_abono{
    color:red;
}

.correcto{
    color:green;
}